/* ===== HEADER ===== */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--white);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 28px;
  color: var(--red);
}

.project-name {
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}

.header-nav a {
  margin-left: 15px;
}

/* ===== HERO ===== */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 80px 40px;
  align-items: center;
}

.hero-actions a { 
  margin-right: 15px; 
}

.hero h1 {
  font-size: 44px;
  line-height: 1.2;
}

.hero h1 span {
  color: var(--red);
}

.hero p {
  margin: 20px 0 30px;
  font-size: 18px;
  color: var(--gray);
  max-width: 520px;
}

.hero-image img {
  width: 100%;
  border-radius: var(--radius-lg);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* ===== FEATURES ===== */
.features {
  padding: 60px 40px;
  background: var(--white);
}

.feature-title{
  text-align: center;
  padding-bottom: 15px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.feature-card {
  background: var(--bg);
  padding: 25px;
  border-radius: var(--radius-lg);
  transition: all 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: var(--shadow-md);
}

/* ADVANTAGES */ 
.advantages { 
  padding: 60px 40px; 
} 

.advantages h2 { 
  text-align: center; 
  margin-bottom: 30px; 
} 

.adv-list { 
  max-width: 600px; 
  margin: 0 auto; 
  list-style: none; 
  padding: 0; 
} 

.adv-list li { 
  font-size: 18px; 
  margin-bottom: 15px; 
}
/* ===== CTA ===== */
.cta {
  text-align: center;
  padding: 80px 40px;
  background: var(--black);
  color: var(--white);
}

.cta p {
  color: #ccc;
  margin: 15px 0 30px;
}

/* ===== FOOTER ===== */
.footer {
  padding: 30px;
  background: var(--white);
  text-align: center;
  border-top: 1px solid var(--border-light);
}
