.retro-container {
  background-color: #000;
  height: 100vh; /* Центрирование в Dashboard */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  image-rendering: pixelated;
  border: 4px solid #333;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

/* Эффект сканирующих линий (как на старых ТВ) */
.retro-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 4px, 3px 100%;
  pointer-events: none;
}

.retro-title {
  color: #ff0000; /* Ретро красный */
  font-size: 24px;
  margin-bottom: 50px;
  text-shadow: 3px 3px #550000;
  text-align: center;
}

.retro-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.retro-menu-item {
  font-size: 18px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  transition: transform 0.1s;
}

.retro-arrow {
  position: absolute;
  left: 0;
  color: #fff;
  animation: blink 0.5s step-start infinite;
}

/* Анимация мигания для активного пункта */
.retro-menu-item.active {
  color: #ffff00; /* Желтый фокус */
  animation: text-blink 0.6s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes text-blink {
  80% {
    color: #fff;
  }
}

.retro-footer {
  margin-top: 60px;
  font-size: 10px;
  color: #444;
  animation: blink 1.5s infinite;
}
